---
import Header from "../components/header.astro";
import Intro from "../components/intro.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="DOCA">
    <Header />
  <main>
    <Intro />
  </main>
</BaseLayout>