---
import Header from "../components/header.astro";
import Intro from "../components/intro.astro";
import Team from "../components/team.astro";
import Slide from "../components/slide.astro";
import Services from "../components/services.astro";
import Contact from "../components/contact.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import SlideItem from "../components/slide-item.astro";
---

<BaseLayout
  title="DOCA - Por mais liberdade"
  url=""
  description="Equipa Interdisciplinar. Tratamento de Doenças do comportamento alimentar."
>
  <Header links={["A Doca", "Equipa", "Contactos"]} />
  <main>
    <Slide>
      <SlideItem background="bg-background"><Intro /></SlideItem>
      <SlideItem title="A Doca" background="bg-blue" className="">
        <Services />
      </SlideItem>
      <SlideItem title="Equipa" background="bg-yellow"><Team /></SlideItem>
      <SlideItem title="Contactos" background="bg-background">
        <Contact />
      </SlideItem>
    </Slide>
  </main>
</BaseLayout>

<script>
  window.addEventListener(
    "DOMContentLoaded",
    function () {
      const element = window.location.hash
        ? document.querySelector(window.location.hash)
        : null;
      if (!element) {
        return null;
      }
      element.scrollIntoView();
    },
    false,
  );
</script>
