---
import LogoInstagram from "../assets/instagram.svg?raw";
import Brevo from "@getbrevo/brevo";

let status: "" | "success" | "error" = "";

if (Astro.request.method === "POST") {
  try {
    // Getting posted data from our contact form
    const data = await Astro.request.formData();
    const name = data.get("name");
    const email = data.get("email");
    const phone = data.get("phone");
    const message = data.get("message");

    if (!name || !message) {
      return;
    }
    const client = Brevo.ApiClient.instance;

    // Configure API key authorization: api-key
    const apiKey = client.authentications["api-key"];
    apiKey.apiKey = import.meta.env.BREVO_API_KEY;

    const apiInstance = new Brevo.TransactionalEmailsApi();
    const response = await apiInstance.sendTransacEmail({
      sender: { email: email || "website@equipadoca.pt", name },
      to: [{ email: import.meta.env.EMAIL_CONTACT, name: "equipadoca.pt" }],
      subject: `Mensagem de ${name}`,
      replyTo: { email: email?.toString() || "", name },
      htmlContent: `
        <div>
            <p><b>Nome:</b> ${name ?? "-"}</p>
            <p><b>Email:</b> ${email ?? "-"}</p>
            <p><b>Telefone:</b> ${phone ?? "-"}</p>
            <br/>
            <hr/>
            <br/>
            <p style="white-space: pre-wrap;">${message}</p>
        </div>`,
    });
    if (response.isAxiosError) {
      throw response;
    }
    status = "success";
  } catch (error) {
    status = "error";
    console.error(error);
  }
}
---

<div class="flex flex-col w-full flex-1 justify-center">
  <div class="flex-grow w-full flex flex-col lg:flex-row gap-5">
    <div
      class="lg:w-1/2 flex flex-wrap flex-row lg:flex-col justify-between lg:justify-evenly lg:pl-4 pt-9 gap-4 lg:max-h-[580px]"
    >
      <div class="basis-full xs:basis-[calc(50%-1rem)] lg:basis-0">
        <h3 class="text-green font-semibold text-lg sm:text-xl mb-1">Email</h3>
        <a
          href="mailto:geral@equipadoca.pt"
          class="underline underline-offset-1 pl-1 text-sm sm:text-md"
        >
          equipadoca@gmail.com
        </a>
      </div>
      <div class="basis-full xs:basis-[calc(50%-1rem)] lg:basis-0">
        <h3 class="text-green font-semibold text-lg sm:text-xl mb-1">
          Telefone
        </h3>
        <a
          href="tel:21 796 7418"
          class="underline underline-offset-1 pl-1 text-sm sm:text-md"
        >
          21 581 6427
        </a>
      </div>
      <div class="basis-full xs:basis-[calc(50%-1rem)] lg:basis-0">
        <h3 class="text-green font-semibold text-lg sm:text-xl mb-1">
          Localização
        </h3>
        <address class="not-italic pl-1 text-sm sm:text-md">
          Doca <br />
           Av. António Agusto de Aguiar, 42<br />
           Cave Esquerdo<br />
           1050-016 Lisboa
        </address>
      </div>
      <div class="basis-full xs:basis-[calc(50%-1rem)] lg:basis-0">
        <h3 class="text-green font-semibold text-lg sm:text-xl mb-2">
          Siga-nos
        </h3>
        <div class="pl-1 text-sm sm:text-md">
          <a
            href="https://www.instagram.com/equipa.doca/"
            target="_blank"
            class="text-green text-sm sm:text-md alternate gap-2 inline-flex items-center"
          >
            <span class="inline-block w-5 h-5">
              <Fragment set:html={LogoInstagram} />
            </span>
            <span>equipa.doca</span>
          </a>
        </div>
      </div>
    </div>
    <form method="post" class="lg:max-w-xl flex flex-col">
      <h3 class="text-green font-semibold text-3xl alternate mb-1">
        Contacte-nos
      </h3>
      <label for="message" class="form-label alternate text-sm sm:text-md"
        >Para marcação ou mais informações</label
      >
      <textarea
        id="message"
        name="message"
        class="flex-1 resize-none w-full min-h-[120px] max-h-[230px] rounded form-input placeholder:text-green mb-4"
        placeholder="Envie uma mensagem"
        required></textarea>
      <label for="name" class="form-label">Nome</label>
      <input
        required
        type="text"
        id="name"
        name="name"
        class="form-input w-full mb-4"
      />
      <div class="flex gap-6">
        <div class="flex-1">
          <label for="phone" class="form-label">Telefone</label>
          <input type="tel" id="phone" name="phone" class="form-input w-full" />
        </div>
        <div class="flex-1">
          <label for="email" class="form-label">Email</label>
          <input
            type="text"
            id="email"
            name="email"
            class="form-input w-full"
          />
        </div>
      </div>
      <div class="mt-10 self-end w-full">
        <button
          type="submit"
          class="bg-green hover:bg-green/90 rounded shadow-md text-white text-sm sm:text-md py-2 px-4 w-full mb-2"
          >Enviar</button
        >
        {
          status === "success" ? (
            <p class="text-green">Mensagem enviada!</p>
          ) : status === "error" ? (
            <p class="text-green">Ocorreu um erro ao enviar mensagem</p>
          ) : null
        }
      </div>
    </form>
  </div>
</div>
