---
import LogoInstagram from "../assets/instagram.svg?raw";
import nodemailer from "nodemailer";

let status: "" | "success" | "error" = "";

if (Astro.request.method === "POST") {
  try {
    // Getting posted data from our contact form
    const data = await Astro.request.formData();
    const name = data.get("name");
    const email = data.get("email");
    const phone = data.get("phone");
    const message = data.get("message");

    if (!name || !message) {
      return;
    }
    console.log(import.meta.env.MAILCHIMP_API_KEY);
    const client = mailchimp(import.meta.env.MAILCHIMP_API_KEY);
    const response = await client.messages.send({
      message: {
        from_email: email || "website@equipadoca.pt",
        from_name: name,
        to: [
          { email: import.meta.env.EMAIL_CONTACT },
          { name: "equipadoca.pt" },
        ],
        subject: `Mensagem de ${name}`,
        reply_to: email?.toString() || undefined,
        html: `<p>${message}</p>`,
      },
    });
    console.log(response);
    if (response.isAxiosError) {
      throw response;
    }
    status = "success";
  } catch (error) {
    status = "error";
    console.error(error);
  }
}
---

<div class="flex flex-col w-full flex-1 justify-center">
  <div class="flex-grow w-full flex flex-col lg:flex-row gap-5">
    <div
      class="lg:w-1/2 flex flex-wrap flex-row lg:flex-col justify-between lg:justify-evenly lg:pl-4 pt-9 gap-4"
    >
      <div class="basis-full xs:basis-[calc(50%-1rem)] lg:basis-0">
        <h3 class="text-green font-semibold text-2xl mb-1">Email</h3>
        <a
          href="mailto:geral@equipadoca.pt"
          class="underline underline-offset-1 pl-1"
        >
          geral@equipadoca.pt
        </a>
      </div>
      <div class="basis-full xs:basis-[calc(50%-1rem)] lg:basis-0">
        <h3 class="text-green font-semibold text-2xl mb-1">Telefone</h3>
        <a href="tel:21 796 7418" class="underline underline-offset-1 pl-1">
          21 796 7418
        </a>
      </div>
      <div class="basis-full xs:basis-[calc(50%-1rem)] lg:basis-0">
        <h3 class="text-green font-semibold text-2xl mb-1">Localização</h3>
        <address class="not-italic pl-1">
          Doca <br />
           Avenida da República, 48<br />
           2º andar, direito<br />
           1050-185 Lisboa<br />
        </address>
      </div>
      <div class="basis-full xs:basis-[calc(50%-1rem)] lg:basis-0">
        <h3 class="text-green font-semibold text-2xl mb-1">Siga-nos</h3>
        <div class="pl-1">
          <a
            href="https://www.instagram.com/equipa.doca/"
            target="_blank"
            class="text-green text-lg alternate gap-2 inline-flex items-center"
          >
            <span class="inline-block w-5 h-5">
              <Fragment set:html={LogoInstagram} />
            </span>
            <span>equipa.doca</span>
          </a>
        </div>
      </div>
    </div>
    <form method="post" class="lg:max-w-xl flex flex-col">
      <h3 class="text-green font-semibold text-3xl alternate mb-1">
        Contacte-nos
      </h3>
      <label for="message" class="form-label alternate"
        >Para marcação ou mais informações</label
      >
      <textarea
        id="message"
        name="message"
        class="flex-1 resize-none w-full min-h-[120px] rounded form-input placeholder:text-green mb-4"
        placeholder="Envie uma mensagem"
        required></textarea>
      <label for="name" class="form-label">Nome</label>
      <input
        required
        type="text"
        id="name"
        name="name"
        class="form-input w-full mb-4"
      />
      <div class="flex gap-6">
        <div class="flex-1">
          <label for="phone" class="form-label">Telefone</label>
          <input type="tel" id="phone" name="phone" class="form-input w-full" />
        </div>
        <div class="flex-1">
          <label for="email" class="form-label">Email</label>
          <input
            type="text"
            id="email"
            name="email"
            class="form-input w-full"
          />
        </div>
      </div>
      <div class="mt-10 self-end w-full">
        <button
          type="submit"
          class="bg-green hover:bg-green/90 rounded shadow-md text-white text-lg py-2 px-4 w-full mb-2"
          >Enviar</button
        >
        {
          status === "success" ? (
            <p class="text-green">Mensagem enviada!</p>
          ) : status === "error" ? (
            <p class="text-green">Ocorreu um erro ao enviar mensagem</p>
          ) : null
        }
      </div>
    </form>
  </div>
</div>
