---
import { Image } from 'astro:assets';
import LogoImage from '../assets/logo.png';
---
<div class="absolute bg-background/50 w-full h-[46px] z-10 px-4 py-3">
    <Image src={LogoImage} alt="DOCA" height={60} quality='high' class="h-full object-contain object-left" />
</div>