---
import { Image } from "astro:assets";
import LogoImage from "../assets/logo.png";
---

<div class="flex-1 flex justify-center items-center">
  <div class="md:w-3/5 max-w-[800px] flex flex-col items-center pt-[46px]">
    <Image
      src={LogoImage}
      alt="Doca - Por mais liberdade"
      class="w-full animate-fade"
      loading="eager"
    />
  </div>
</div>
