---
import { Image } from "astro:assets";
import LogoImage from "../assets/logo_3.svg";
---

<div class="w-full h-full flex-1 flex items-center">
  <div
    class="w-full max-w-3xl pt-6 lg:pt-10 lg:px-6 flex flex-col items-left flex-grow justify-center prose-sm sm:prose xl:prose-xl relative z-10 text-prose text-left"
  >
    <p>
      Uma equipa interdisciplinar com a missão de ajudar pessoas no tratamento
      de doenças de comportamento alimentar, com uma abordagem integrativa,
      empática e inovadora.
    </p>
    <p>
      Um porto de abrigo.<br />
       Para os que sofrem de perturbação do comportamento alimentar.<br />
       Para os que prestam apoio a estas pessoas.<br />
       Onde se possam sentir compreendidos, seguros e orientados.<br />
    </p>
  </div>
</div>
<Image
  loading="lazy"
  src={LogoImage}
  alt="Doca - Por mais liberdade"
  class="blur-2xl absolute top-0 bottom-0 right-0 h-full w-auto translate-x-3/4 lg:translate-x-1/2"
/>
