---
interface Props {
  title?: string;
  className?: string;
  background: "bg-yellow" | "bg-green" | "bg-blue" | "bg-background";
}
const { title, background, className } = Astro.props;
---

<div
  class=`min-h-screen ${background} snap-always snap-start p-8 sm:p-12 md:p-16 lg:p-20 xl:p-28 flex flex-col overflow-x-hidden ${className}`
  id={title ? encodeURIComponent(title) : undefined}
>
  {
    title && (
      <h1
        class={`${
          background === "bg-green" ? "text-background" : "text-green"
        } flex-shrink-0 text-5xl sm:text-6xl font-bold alternate `}
      >
        {title}
      </h1>
    )
  }
  <slot />
</div>
